@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* General Styles */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p, a, label, input, button {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h3 {
    font-size: 24px;
}

/* Container and Card Styling */
.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 15px;
    z-index: 1;
}

.row {
    width: 100%;
}

.card, .login-box {
    background-color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    z-index: 2;
}

/* Background and Image Styling */
.bg-cover {
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.img-fluid {
    height: 100%;
    object-fit: cover;
}

/* Form and Button Styling */
.form-group label {
    font-size: 14px;
    font-weight: 500;
}

.form-group input {
    padding: 15px;
    font-size: 16px;
}

.btn-block, .btn-success {
    padding: 12px;
    font-size: 18px;
}

.btn-success {
    background-color: #28a745;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

.custom-login-btn {
    background-color: #007BFF;
    color: white;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.custom-login-btn:hover {
    background-color: #0056b3;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* Links and Text Styles */
p a, .form-check-label a, .forgot-password-link {
    color: #007BFF;
    text-decoration: none;
    font-size: 14px;
}

p a:hover, .form-check-label a:hover, .forgot-password-link:hover {
    text-decoration: underline;
    color: #0056b3;
}

small {
    color: #6c757d;
}
